.navbar{
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 0px 10px;

    background-color: var(--cor1);
}

.navbar img{
    height: 50px;
}

#header-nav1, #header-nav2{
    display: flex;
    gap: 20px;
}

#header-nav1 .header_navlink{
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

#header-nav1 .header_navlink:hover{
    color: var(--cor3);
    
}

.header_navlinkimg{
    height: 40px;
    cursor: pointer;
    padding: 2px;
    border-radius: 50px;
}

.header_navlinkimg:hover{
    background-color: rgba(255, 255, 255, 0.329);
    outline: 5px solid rgba(255, 255, 255, 0.329);
}

#nav-categ{
    position: fixed;
    top: 70px;
    height: 50px;
    width: 100%;
    background-color: var(--cor3);
}

#nav-categ ol{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    border: 1px solid white;
}

#nav-categ ol li{
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 2px;
    color: white;

}

#nav-categ ol li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.288);
}

.li-sec1 ol{
    padding: 5px 10px 10px 10px;
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, 0.76);
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 8px;
}

.li-sec1 ol li{
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.li-sec1 ol li:hover{
    background-color: var(--cor1);
}

.cont-banner > p{
    padding: 15px;
    padding-left: 80px;
    text-align: end;
    color: white;
}

/* grupo de botões abaixo do banner */
.gpbtn-categ{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 20px 10px;
    margin: 5px 0px;
    box-shadow: var(--sombra);
    background-image: url(elementos/img/backgoundlavanda.jpg);
}

.gpbtn-categ > li{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: black;
}

.gpbtn-categ > li > a{
    text-transform: capitalize;
    text-align: center;
    line-height: 18px;
    color: white;
}

@media screen and (max-width: 700px) {
    .gpbtn-categ{
        height: 70px;
        gap: 10px;
        justify-content: space-around;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    
    .gpbtn-categ li{
        width: auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.527);
        box-shadow: var(--sombra);
    }
    
    .gpbtn-categ li a{
        text-wrap: nowrap;
        font-size: 1rem;
        color: black;
    }
    
}

@media screen and (max-width: 500px) {
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.navbar img{
    margin: 10px;
}

.navbar .search{
    border-radius: 25px;
    width: 200px;
    padding: 7px;
    padding-left: 10px;
    font-size: 1rem;
}

.navbar .menuicon{
    height: 30px;
    margin-right: 20px;
}

}
